<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
  <link rel="stylesheet" href="./../public/style/shipstyle.css">
</head>
<body>
  <h1><%= data.name %>の詳細</h1>
  <hr>
  <div class="image">
    <% if (data.image) { %>
        <img src="./../public/image/<%= data.image %>" alt="<%= data.modelname %>の画像">
    <% } else { %>
        <p>No Image</p>
    <% } %>
  </div>
  <table>
    <thead>
        <tr>
            <th>項目</th>
            <th>データ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>ID</th>
            <td><%= data.id %></td>
        </tr>
        <tr>
            <th>型・級</th>
            <td><%= data.modelname %></td>
        </tr>
        <tr>
            <th>分類</th>
            <td><%= data.shipclass %></td>
        </tr>
        <tr>
            <th>建造国</th>
            <td><%= data.country %></td>
        </tr>
        <tr>
            <th>全長(メートル単位)</th>
            <td><%= data.length %></td>
        </tr>
        <tr>
            <th>排水量(トン単位)</th>
            <td><%= data.displacement %></td>
        </tr>
        <tr>
            <th>運用開始年</th>
            <td><%= data.startyear %></td>
        </tr>
        <tr>
            <th>建造数</th>
            <td><%= data.sister %></td>
        </tr>
    </tbody>
  </table>
  <div class="submitlinkbox">
    <a href="/edit/<%= id %>" class="edit"><%= data.modelname %>の編集</a>
    <a href="/delete/<%= id %>" class="delete"><%= data.modelname %>の削除</a>
    <a href="/" class="mainmenu">軍艦一覧に戻る</a>
  </div>
</body>
</html>